
<% @media.each do |media| %>
<div id="container" class="clearfix">

  <div class="box col1">
      <p><img src="assets/media.png"></p>
  </div>


  <% if media.video.present? %>
    <div class="box col2">
      <%= link_to (image_tag media.image), run_path(media.run) if media.image.present? %>
      <%= media.run.name if media.image.present? %>
    </div>
  <% end %>

    <div class="box col3">
      <p><img src="assets/home5.png"></p>
    </div>

  <% if media.video.present? %>
    <div class="box col1">
      <%= link_to (video_tag media.video, :controls => true, :poster => "http://cdn3.coresites.mpora.com/skiunion/wp-content/uploads/2011/10/salomon-flash.jpg"), run_path(media.run) if media.video.present? %>
      <%= link_to media.run.name if media.video.present? %>
    </div>
  <% end %>

    <% if media.video.present? %>
    <div class="box col2">
      <%= link_to (image_tag media.image), run_path(media.run) if media.image.present? %>
      <%= media.run.name if media.image.present? %>
    </div>
  <% end %>



  <% if media.image.present? %>
   <div class="box col2">
      <%= link_to (image_tag media.image), run_path(media.run) if media.image.present? %>
      <%= media.run.name if media.image.present? %>
    </div>
  <% end %>  

   <!-- <div class="box col2">
      <p>Vestibulum volutpat, lacus a ultrices sagittis,</p>
      <p>Fusce accumsan mollis eros. Pellentesque a diam sit amet mi ullamcorper vehicula  </p>
    </div> -->

    <div class="box col2">
      <p><img src="assets/home5.png"></p>
    </div>

  <% if media.video.present? %>
    <div class="box col3">
      <%= link_to (video_tag media.video, :controls => true, :poster => "http://cdn3.coresites.mpora.com/skiunion/wp-content/uploads/2011/10/salomon-flash.jpg"), run_path(media.run) if media.video.present? %>
      <%= link_to media.run.name if media.video.present? %>
    </div>
  <% end %>

     <div class="box col2">
      <p><img src="assets/media3.png"></p>
    </div>

    <% if media.image.present? %>
    <div class="box col1">
      <%= link_to (image_tag media.image), run_path(media.run) if media.image.present? %>
      <%= media.run.name if media.image.present? %>
    </div>
  <% end %>

  <% if media.image.present? %>
   <div class="box col3">
      <%= link_to (image_tag media.image), run_path(media.run) if media.image.present? %>
      <%= media.run.name if media.image.present? %>
    </div>
  <% end %>  

    <div class="box col1">
      <p><img src="assets/media3.png"></p>
    </div>

  <% if media.video.present? %>
    <div class="box col3">
      <%= link_to (video_tag media.video, :controls => true, :poster => "http://cdn3.coresites.mpora.com/skiunion/wp-content/uploads/2011/10/salomon-flash.jpg"), run_path(media.run) if media.video.present? %>
      <%= media.run.name  if media.video.present? %>
    </div>
  <% end %>

    <div class="box col1">
      <p><img src="assets/media.png"></p>
    </div>



    <!-- <div class="box col2">
      <p>adipiscing in, lacinia vel, tellus. Suspendisse ac urna. Etiam pellentesque mauris ut lectus.</p>
      <p>Ut convallis, sem sit amet interdum consectetuer, odio augue aliquam leo, nec dapibus tortor nibh sed augue.  Sed vel lacus. Mauris nibh felis, adipiscing varius, adipiscing in, lacinia vel, tellus. Suspendisse ac urna. Etiam pellentesque mauris ut lectus. Nunc tellus ante, mattis eget, gravida vitae, ultricies ac, leo. Integer leo pede, ornare a, lacinia eu, vulputate vel, nisl.</p>
    </div>

</div> 

<% end %>