<h1>All Current Runs</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Resort</th>
    <th>Rating</th>
    <th>Logged</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @runs.each do |run| %>
  <tr>
    <td><%= link_to run.name, run %></td>
    <td><%= run.description %></td>  
    <td><%= run.resort.name %></td>
    <td><%= run.rating %></td>
    <td><%= run.created_at.strftime("%b %d, %Y")  %></td>
    <td><% if can? :update, run %><%= link_to 'Edit  ', edit_run_path(run) %><% end %></td>
    <td><% if can? :destroy, run %><%= link_to 'Destroy', run, method: :delete, data: { confirm: 'Are you sure?' } %><% end %></td>
  </tr>
<% end %>
</table>

<br />

<%= paginate @runs %>

<%= link_to 'New Run', new_run_path %>
