<h1>Recorder Ski Runs</h1>

  <% @runs.each do |run| %>
    <div class='resort_index'>

      <h2><%= link_to run.name.capitalize, run %></h2>
      <p> <%= run.resort.name %><p>
      <% if run.mediums.present? && run.mediums.first.image.present? %>
        <%= link_to (image_tag run.mediums.first.image), run %>
      <% end %>
      <p><%= run.description.capitalize.truncate 200, seperator: " " %></p>

      <% if can? :update, run %><%= link_to 'Edit', edit_resort_path(run) %>|<% end %>
      <% if can? :destroy, run %><%= link_to 'Destroy', run, method: :delete, data: { confirm: 'Are you sure?' } %><% end %>
      <br><br>
    </div>
  <% end %>

<br />

<%= paginate @runs %>

<%= link_to 'New Run', new_run_path %>
