<p id="notice"><%= notice %></p>

<aside class="run_details">
  <h2><%= @run.name %></h2>
  <% if @run %>
  <p style="display:none" id="run_id"><%= @run.id %></p>
  <% end %>
  <p>Description: <%= @run.description %></p>
  <p>Resort: <%= @run.resort.name %></p>
  <p>Rating: <%= @run.rating %></p>
  <p>Uploaded by: <%= @run.user.name %></p>
  <!-- distance calculation found in media.js -->
  <p id='distance'>Run Length: </p>
  
  <% if can? :update, @run %><%= link_to 'Add New Media to this run', new_run_medium_path(@run) %><% end %>  
  <br><br>
  <%= link_to "Download the PDF", run_path(@run, :format => 'pdf') %>
    <br><br>
  <% if can? :update, @run %><%= link_to 'Edit', edit_run_path(@run) %><% end %>
  - 
  <% if can? :destroy, @run %><%= link_to 'Remove Run', @run, method: :delete, data: { confirm: 'Are you sure?' } %><% end %>
  -
  <%= link_to 'Back', runs_path %>
</aside>

<% if @run.markers.present? %>
<p style='display:none' id='firstLat'><%= @run.markers.first.latitude %> </p>
<p style='display:none' id='firstLon'><%= @run.markers.last.longitude %> </p>
<p style='display:none' id='lastLat'><%= @run.markers.last.latitude %> </p>
<p style='display:none' id='lastLon'><%= @run.markers.last.longitude %> </p>
<% end %>

<section>
  <div id="map_canvas"></div>
  <div class="graph"></div>
</section>

<section class="media">
  <% @media.each do |media| %>
    <% if media.run_id == @run.id %>
        <%= link_to ( image_tag media.image), [@run, media] if media.image.present?  %>
    <% end %>
  <% end %>

   <% @media.each do |media| %>
    <% if media.run_id == @run.id %>
         <%= link_to (video_tag media.video, :size => "320x240", :controls => true, :poster => "http://cdn3.coresites.mpora.com/skiunion/wp-content/uploads/2011/10/salomon-flash.jpg"), [@run, media] if media.video.present? %>
    <% end %>
  <% end %>
</section>

<div id='comments'>
  <p>Leave a Comment</p>
  <p id='commentsOutput'></p>
  <textarea id='commentsInput'></textarea>
</div>
