<p id="notice"><%= notice %></p>

<div class="resort">

<div class='resort_header'>
  <h2 id='resortName'><%= @resort.name %></h2>
  <p><%= @resort.country.name %></p>
</div>

  <div id='resort_image'><%= image_tag @resort.image.detail.url if @resort.image.present? %></div>


  <p>
    <b>Description:</b>
    <%= @resort.description %>
  </p>
  
  <div id="weather"></div>
  <div id="hourlyWeather"></div>

  <p>
    <b>Uploaded Runs:</b>
    <% @resort.runs. each do |run| %>
      <li><%= link_to run.name, run %></li>
    <% end %>
  </p>

  <button id='button'><%= link_to 'New Run', new_run_path %></button>
  <button id='button'><%= link_to 'Edit', edit_resort_path(@resort) %></button>
  <button id='button'> <%= link_to 'Back', resorts_path %></button>
</div>