<p id="notice"><%= notice %></p>

<div class="resort">

<div class='resort_header'>
  <h2 id='resortName'><%= @resort.name %></h2>
  <p><%= @resort.country.name %></p>
</div>

  <div id='resort_image'><%= image_tag @resort.image.url if @resort.image.present? %></div>


  <p>
    <%= @resort.description %>
  </p>


  <p>
    <h2>Uploaded Runs:</h2>
    <% @resort.runs. each do |run| %>
      <li class='resort_runs'><%= link_to run.name, run %></li>
    <% end %>
  </p>
  
  <hr>

  <div id="weather"></div>
  <div id="hourlyWeather"></div>

  <button id='button'><%= link_to 'New Run', new_run_path %></button>
  <% if can? :update, @resort %><button><%= link_to 'Edit', edit_resort_path(@resort) %><% end %></button>
  <% if can? :destroy, @resort %><button><%= link_to 'Remove Resort', @resort, method: :delete, data: { confirm: 'Are you sure?' } %></button><% end %>
  <button id='button'> <%= link_to 'Back', resorts_path %></button>
</div>