<!DOCTYPE html>
<html>
<head>
  <title>Ski App</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= google_maps_api %>
  <%= run_id_to_js(@run.id) if @run %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link  href="http://fotorama.s3.amazonaws.com/4.6.2/fotorama.css" rel="stylesheet">
  <script src="http://fotorama.s3.amazonaws.com/4.6.2/fotorama.js"></script>
  <script src="http://masonry.desandro.com/js/masonry-docs.min.js"></script>  
  <link href="http://cdnjs.cloudflare.com/ajax/libs/nanogallery/5.0.3/css/nanogallery.min.css" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Marmelad' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>
<body>
        <div class='rmm' data-menu-style="sapphire">
            <ul>
                <li><%= link_to "Home", page_path('home') %></li>
                <li><%= link_to "Resorts", resorts_path %></li>
                <li><%= link_to "Track", track_path %></li>
                <li><%= link_to "Runs", runs_path %></li>
                <li><%= link_to "Media", media_path %></li>
                <li>
                  <% if user_signed_in? %>
                    <%= link_to current_user.email, current_user %>
                    <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li> 
                  <% else %>
                    <li><%= link_to "Sign up",new_user_registration_path %></li>
                    <li><%= link_to "Login", new_user_session_path %></li>
                  <% end %>
                </li>
            </ul>
        </div>

<div class="main_content">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>
</div>

</body>
</html>
